@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    height: 100vh;
    @apply flex;
  }
}

@layer components {
  #contact-container {
    width: 25vw;
  }

  #chat-container {
    width: 75vw;
    background-image: url(/img/bg/footer_lodyas.png);
  }

  .small-scrollbar::-webkit-scrollbar {
    @apply w-1 opacity-0;
  }

  .small-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
  }

  .small-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-transparent;
  }

  .small-scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-slate-600;
  }

  .chat.sender {
    @apply bg-sky-900 ml-auto;
  }

  .chat.receiver {
    @apply bg-sky-950 mr-auto;
  }

  .chat.sender.first-on-group::after,
  .chat.receiver.first-on-group::before {
    @apply content-[''] block absolute w-14 h-7 bg-no-repeat top-[-1px];
  }

  .chat.sender.first-on-group::after {
    @apply bg-[url(/img/icon/sender-polygon.png)] -right-5;
  }

  .chat.receiver.first-on-group::before {
    @apply bg-[url(/img/icon/receiver-polygon.png)] -left-3;
  }

  img.sender {
    @apply -right-14;
  }

  img.receiver {
    @apply -left-14;
  }
}
