@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    height: 100vh;
    @apply flex;
  }
}

@layer components {
  #contact-container {
    width: 25vw;
  }

  #chat-container {
    width: 75vw;
    background-image: url(/img/bg/footer_lodyas.png);
  }
}
